---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Beranda">
	<h1>Selamat Datang di Website Baru Kita!</h1>
	<p>Ini adalah halaman beranda yang sedang kita bangun.</p>
</BaseLayout>
